.guesses {
  display: none;
}

h1{
    font-size: 70px;
}


.guess{
    text-align: center;
    border: none;
    width: 80%;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 300px;
}

textarea:focus, input:focus{
    outline: none;
}